body {
  font-size: 18px;
  font-family: sans-serif;  
}

header {
  background: #c5ee9f;
  padding: 20px;
  color: #003362;
}

h1 {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: auto;
}




/* Stufenförmig */
/* ul strong {
  color: red;
} */

/* ul li strong {
  color: red;
} */


ul.highlighted li > strong {
  color: red;
}
























































/* Spezifität */

div {
  color: red;
  background-color: #003362;
}

.meine-klasse {
  color: blue;
  margin-bottom: 50px;
}

#eineId {
  color: green;
}

div {
  color: yellow;
}

ul li.meine-klasse p #eineId {
  color: red;
}

ul li p #eineId {
  color: green;
}


























/* Box Modell */
* {
  /* border: 1px solid red !important; */
}

.boxmodell {
  margin: 50px;
  border: 1px solid red;
  padding-left: 20px;
  padding-top: 50px;
  width: 250px;
  height: 300px;
}
